{% extends('base.html.twig') %}

{% block title %}Symfony Course - Posts!{% endblock %}

{% block body %}
    <!-- ### CONSIDER ADDING A SEARCH COMPONENT IN div.subheader TO FILTER POSTS BY TITLE AS USER TYPES!!! THAT'D BE SIC... ### -->
    <div id="pageNotice" class="alert alert-success"></div>
    <div class="subheader d-flex">
        <h2 class="w-72">List of all posts</h2>
        <!--<a class="create-link" href="{{ path('post.create') }}"><span class="plus-sign">+</span> <span>Create</span></a>-->
        <a class="create-link" href="{{ path('post.create') }}">+ Create</a>
    </div>
    <table class="table myTable table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr id="pRow{{ post.id }}">
                    <td>{{ post.id }}</td>
                    <td>
                        <a href="{{ path('post.show', {id: post.id}) }}">
                            {{ post.title }}
                        </a>
                    </td>
                    <td>
                        <button class="remove-button" type="button" data-id="{{ post.id }}">Remove</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('posts') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('posts') }}
{% endblock %}
